@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");
:root {
  --Pale-blue: hsl(225, 100%, 94%);
  --Bright-blue: hsl(245, 75%, 52%);
  --Very-pale-0blue: hsl(225, 100%, 98%);
  --Desaturated-blue: hsl(224, 23%, 55%);
  --Dark-blue: hsl(223, 47%, 23%);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: var(--Pale-blue);
  font-family: "Red Hat Display", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 450px;
  height: 697px;
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: 0px 40px 40px -20px rgba(13, 48, 189, 0.151826);
}

.Hero {
  width: 100%;
  border-radius: 20px 20px 0 0;
}
h1 {
  font-size: 28px;
  font-weight: 900;
  color: var(--Dark-blue);
  text-align: center;
  margin-left: 48px;
  margin-right: 48px;
  margin-top: 26px;
}
p {
  font-family: "Red Hat Display", sans-serif;
  font-size: 1rem;
  color: var(--Desaturated-blue);
  text-align: center;
  line-height: 26px;
  margin-left: 48px;
  margin-right: 48px;
  margin-top: 12px;
}

.container2 {
  background-color: var(--Very-pale-0blue);
  font-size: 1rem;
  padding: 25px;
  border-radius: 11px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 48px;
  margin-right: 48px;
  margin-top: 20px;
}
.container3 {
  line-height: 20px;
  margin-right: 75px;
}

h3 {
  font-family: "Red Hat Display", sans-serif;
  font-size: 1rem;
  line-height: 1.9;
}

h4 {
  font-family: "Red Hat Display", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: var(--Desaturated-blue);
}

.Proceed-button {
  background-color: var(--Bright-blue);
  cursor: pointer;
  font-family: "Red Hat Display", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  padding: 1rem 0;
  width: 354px;
  margin-left: 49px;
  border: none;
  border-radius: 11px;
  box-shadow: 0px 20px 20px rgba(56, 42, 225, 0.190291);
  font-size: 15px;
  margin-top: 32px;
}

.Cancel-button {
  font-family: "Red Hat Display", sans-serif;
  font-size: 15px;
  font-weight: 900;
  color: var(--Desaturated-blue);
  background-color: white;
  border: none;
  margin-top: 45px;
  margin-left: 176px;
  margin-right: 178px;
  cursor: pointer;
}

.Proceed-button:hover {
  opacity: 0.8;
}

.Cancel-button:hover {
  color: black;
  opacity: 0.8;
}
